.stackexg-header{
	background:linear-gradient(to right, #ffffff 0%, #feffff 100%) !important;
	border-bottom: 1px solid #d9d9db;
}
.stackexg-header-logo-1{
	color:#5F3329;
}
.stackexg-header-logo-2{
	color:#B4462F;
}
.header-qr-image{
	height: 100px;
}
.header-qr-col{
	padding-left: 0;
}
.header-row{
 	margin: 0 !important;
}
.header-col{
	padding-top: 12px;
}
.menu-body{
	padding: 20% 0 0 0 !important;
}
.image-menu-dropdown{
	height: 4%;
	margin-top: 2%;
}
.menuitem{
	height: auto;
	background-color:#f8f9ff;
	max-height: 20px;
	margin-bottom: 0 !important;
}
.submenuitem{
	background-color:#f8f9fa;
	max-height: 20px;
	margin-bottom: 0 !important;
	padding-left:2%;
	/*margin-left: 0.25% !important;*/
}
.item{
	display: flex;
  	align-items: center;
}
.veg-symbol{
	height: 10px;
	margin-right: 4px;
}
